body
{
    background-image: url("images/pngwing.com.png");
    background-repeat:no-repeat;
    background-position: right;
    margin: 100px;
    background-attachment: fixed;
   
}          
/* #para1
{
    background-image: url("kodaika.jpg");
}
#naming1
{
    background-image: url("kurlusosman.jpg");
} */
